@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; 
  --color-primary-foreground: #ffffff;
  /* Add other custom theme variables here if needed */
}

body {
    @apply bg-slate-950 text-slate-100 antialiased font-sans;
}
